*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background-color: #333;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box{
    width: 200px;
    height: 60px;
    border-radius: 50px;
    position: relative;
    background-color: #222;
    cursor: pointer;
    color: #aaa;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid rgba(255, 255, 255, .3);
    border-left: 1px solid rgba(255, 255, 255, .3);
    padding-left: 40px;
    transition: .5s;
}
.box:hover{
    padding-left: 0px;
    padding-right: 40px;
    color: #fff;
}

.box span{
    position: absolute;
    left: 5px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: orangered;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s ease-in-out;
}
.box:hover span{
    left: calc(100% - 55px);
}