body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.music{
    width: 300px;
    height: 200px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}
.bar{
    width: 12px;
    border-radius: 10px;
    background-color: #fff;
    animation: movement 1.5s ease-in-out infinite;
}

@keyframes movement {
    0%,100%{
        height: 2px;
    }
    50%{
        height: 80px;
    }
}

.bar:nth-child(1){
    background-color: #b65252;
    animation-delay: 1s;
}

.bar:nth-child(2){
    background-color: pink;
    animation-delay: .8s;
}

.bar:nth-child(3){
    background-color: #b65252;
    animation-delay: .6s;
}

.bar:nth-child(4){
    background-color: pink;
    animation-delay: .4s;
}

.bar:nth-child(5){
    background-color: #b65252;
    animation-delay: .2s;
}

.bar:nth-child(6){
    background-color: pink;
    animation-delay: .2s;
}

.bar:nth-child(7){
    background-color: #b65252;
    animation-delay: .4s;
}

.bar:nth-child(8){
    background-color: pink;
    animation-delay: .6s;
}

.bar:nth-child(9){
    background-color: #b65252;
    animation-delay: .8s;
}

.bar:nth-child(10){
    background-color: pink;
    animation-delay: 1s;
}